@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
*  {
    margin: 0;
}
body {
    display: block;
    width: 800px;
    margin: auto;
    padding: 0;
    font-size: 16px;
    font-family: "Open Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
.header {
    height: 500px;
    background-image:url(../images/apple-pie.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header H1{
    font-size: 4rem;
    font-weight: 200;
}
.recipe {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5rem;
    margin: 4rem 0 2rem o;
}

img {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 2rem;
}

.line {
    border-top: 1.5px solid gray;
    height: 2.5px;
    max-width: 800px;
    margin:10px auto 0 auto;
}

.ingredients h3 {
    font-weight: 400;
    margin: 2rem 0 2rem 0;
}
.ingredients {
    font-size: 1rem;
    font-weight: 100;
    line-height: 2rem;
    margin: 2rem 0 2rem 0;
}

.directions h3 {
    font-weight: 400;
    margin: 2rem 0 2rem 0;
}
.directions {
    font-size: 1rem;
    font-weight: 100;
    line-height: 2rem;
    margin: 2rem 0 2rem 0;
}
